.Home {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Home-content {
    height: 100%;
    width: 45%;
    background-color: var(--darker-color-background);
    background-size:cover;
    background-position:center;
    z-index: -100;
    position: fixed;
    left: 25%;
    top : 0;
}

.Home-header h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: var(--main-color-lighter-text);
    padding-top: 4vh;
    padding-left: 4vw;
}