.Search {
    width: 100%;
    height: 93lvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    top: 0;
    font-family: var(--text-font);
}
.Search-bar {
    height: 100%;
    width: 25%;
    background-size:cover;
    background-color: var(--darker-color-background);
    top : 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

/**/

.Search-bar::-webkit-scrollbar {
    width: 10px;
}

.Search-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 6px;
}

.Search-bar::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/**/

.category {
    width : 90%;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin: 6px;
}

.subtitle {
    font-size: 16px;
    color :var(--main-color-text); 
}

.menu-items {
	background: none;
	color: inherit;
    border-style: hidden;
    border-radius: 4%;
	cursor: pointer;
	outline: inherit;
    padding : 2px;
    margin: 2px;
}

.active-items {
    color : var(--darker-color-background);
    background-color: var(--main-color-text);
    border-style: hidden;
    border-radius: 4%;
    cursor: pointer;
    box-shadow: none;
    padding : 2px;
    margin: 2px;
}

.Search-content {
    height: 100%;
    width: 45%;
    background-size:cover;
    left: 25%;
    top : 0;
    background-color: var(--darker-color-background);
    overflow-y: auto;
}

/**/

.Search-content::-webkit-scrollbar {
    width: 10px;
}

.Search-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 6px;
}

.Search-content::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/**/
