.Search {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-family: var(--text-font);
}
.Search-bar {
    height: 90%;
    width: 25%;
    background-size:cover;
    background-color: var(--darker-color-background);
    top : 4%;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category {
    width : 90%;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin: 6px;
}

.subtitle {
    font-size: 16px;
    color :var(--main-color-text); 
}

.menu-items {
	background: none;
	color: inherit;
    border-style: hidden;
    border-radius: 4%;
	cursor: pointer;
	outline: inherit;
    padding : 2px;
    margin: 2px;
}

.active-items {
    color : var(--darker-color-background);
    background-color: var(--main-color-text);
    border-style: hidden;
    border-radius: 4%;
    cursor: pointer;
    box-shadow: none;
    padding : 2px;
    margin: 2px;
}

.Search-content {
    height: 90%;
    width: 45%;
    background-size:cover;
    position : absolute;
    left: 25%;
    top : 4%;
    background-color: blue;
    border-left: 1px, solid, red;
    border-right: 1px, solid, red;
}
