* {
  margin: 0px;
  padding: 0px;
}

:root {
  --main-color-background: #485461;
  --content-color-background: #52606fc7;
  --content-color-background-hover: #607081c7;
  --darker-color-background: #28313b;
  --main-color-text: #FBFBEF;
  --text-font: Helvetica, monospace;
  --text-font-second: 'Roboto Mono', monospace;
};

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--darker-color-background);
}

body {
  font-family: Helvetica, sans-serif, var(--text-font-second);
}

.arrowOver{
  cursor: pointer;
}
